* {
    margin: 0px;
    padding: 0px;
}

.background {
    background-image: url("../assets/nightlife_background.jpg");
    background-color: #20142C;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.title {
    font-size: 50px;
    position: absolute;
    top: 130px;
    left: 280px;
    z-index: 2;
}

.nightactivity {
    position: absolute;
    top: 20px;
    left: 100px;
    }
  
.nightmap {
    position: absolute;
    top: 250px;
    left: 250px;
    z-index: 1;
    }

.tooltip {
    position: absolute;
    top: 420px;
    left: 415px;
    font-size: 70px;
    color: #ff008a;
    z-index: 2;
    cursor: pointer;
    }
    
.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #ff008a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 60px 0;
    font-size: 20px;
            
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 40%;
    left: -1100%;
    }
    
.tooltip:hover .tooltiptext {
    visibility: visible;
    }

.tooltip .tooltiptext .saigon {
    font-style: 'summer candy', italic;
    font-size: 40px;
    position: absolute;
    top: 10px;
    left: 100px;
}

.tooltip .tooltiptext .description01 {
    font-size: 20px;
    position: relative;
    top: 45px;
}


.tooltip02 {
    display: inline-block;
    position: absolute;
    top: 300px;
    left: 830px;
    font-size: 70px;
    color: #ff008a;
    z-index: 2;
    cursor: pointer;
    }
    
.tooltip02 .tooltiptext02 {
    visibility: hidden;
    width: 400px;
    background-color: #ff008a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 60px 0;
    font-size: 20px;
            
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -200px;
    right: 105%;
    }
    
.tooltip02:hover .tooltiptext02 {
    visibility: visible;
    }

.tooltip02 .tooltiptext02 .chick {
    font-style: 'summer candy', italic;
    font-size: 40px;
    position: absolute;
    top: 10px;
    left: 100px;
}

.tooltip02 .tooltiptext02 .description02 {
    font-size: 20px;
    position: relative;
    top: 45px;
}


.tooltip03 {
    position: absolute;
    top: 460px;
    left: 555px;
    font-size: 70px;
    color: #ff008a;
    z-index: 2;
    cursor: pointer;
    }
    
.tooltip03 .tooltiptext03 {
    visibility: hidden;
    width: 400px;
    background-color: #ff008a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 60px 0;
    font-size: 20px;
            
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 40%;
    left: -1100%;
    }
    
.tooltip03:hover .tooltiptext03 {
    visibility: visible;
    }

.tooltip03 .tooltiptext03 .cafe {
    font-style: 'summer candy', italic;
    font-size: 40px;
    position: absolute;
    top: 10px;
    left: 60px;
}

.tooltip03 .tooltiptext03 .description03 {
    font-size: 20px;
    position: relative;
    top: 45px;
}


.tooltip04 {
    position: absolute;
    top: 342px;
    left: 310px;
    font-size: 70px;
    color: #ff008a;
    z-index: 2;
    cursor: pointer;
    }
    
.tooltip04 .tooltiptext04 {
    visibility: hidden;
    width: 400px;
    background-color: #ff008a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 60px 0;
    font-size: 20px;
            
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -200px;
    left: 105%;
    }
    
.tooltip04:hover .tooltiptext04 {
    visibility: visible;
    }

.tooltip04 .tooltiptext04 .pizza {
    font-style: 'summer candy', italic;
    font-size: 40px;
    position: absolute;
    top: 10px;
    left: 60px;
}

.tooltip04 .tooltiptext04 .description04 {
    font-size: 20px;
    position: relative;
    top: 45px;
}


.tooltip05 {
    position: absolute;
    top: 250px;
    left: 630px;
    font-size: 170px;
    color: #ff008a;
    z-index: 2;
    cursor: pointer;
    }
    
.tooltip05 .tooltiptext05 {
    visibility: hidden;
    width: 400px;
    background-color: #ff008a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 60px 0;
    font-size: 20px;
            
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -200px;
    left: 105%;
    }
    
.tooltip05:hover .tooltiptext05 {
    visibility: visible;
    }

.tooltip05 .tooltiptext05 .park {
    font-style: 'summer candy', italic;
    font-size: 40px;
    position: absolute;
    top: 10px;
    left: 60px;
}

.tooltip05 .tooltiptext05 .description05 {
    font-size: 20px;
    position: relative;
    top: 45px;
}
