* {
    margin: 0px;
    padding: 0px;
}
  
  .background {
    background-image: url("../assets/nightlife_background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }